{{ define "main" }}
<section class="section">
    <div class="w-12/12 m-auto">
        <div class="flex items-center mb-20 ">
            <h1 class=" w-5/12 text-3xl ml-10">
                {{ .Title }}
            </h1>
            <img class="w-1/2" src="../images/accueil1.svg" />
        </div>
        <div class=" w-10/12 m-auto">
            <p> <span class="font-bold">Réseaux sociaux, site internet, blog, vidéos...</span>  
                Quand on lance son propre business ou quand on veut
                redorer son image de marque, il n'est pas toujours facile de définir les bons outils digitaux
                 à utiliser
                et si en plus, on à souhait de trouver les solutions les plus écoresponsables possibles, la tâche
                devient vraiment ardue </p>

               <p> Avant vous aides dans la mise en place de ces différents outils , 
                grâce à des <span class="font-bold">analyses de vos besoins
                et de ceux de votre audience</span>, <span class="font-bold">la création de vos outils digitaux</span>
                 et par un <span class="font-bold">accompagnement</span>
                avant/pendant/après la mise en place de ces mêmes outils. </p>

                <p>Tout au long de ces démarches, notre maitre mot sera de vous fournir les outils les plus ecologique qui
                corresponderont à vos besoins et votre budget.</p>
                </div>
    </div>
</section>
{{ end }}