{{ define "main" }}
<section class="section mt-16">
    <div class="w-12/12 m-auto">
        <div class="flex flex-col pt-5  bg-vert md:flex-row items-center mb-10 md:mb-20 ">
            <img class=" w-12/12  md:w-1/2 md:ml-10 md:mt-8 " src="../images/accueil1.svg" loading="lazy"
                title="Avant conseils, L'agence digitale,liégeoise et écoresponsable qui vous accompagne dans votre développement numérique"
                alt="image d'acueil Avant-Conseils" />
            <h1
                class=" w-10/12 bg-vert font-mono text-white font-semibold rounded-lg p-5 md:w-6/12 text-xl text-center md:text-left md:text-3xl md:ml-10">
                {{ .Title }}
            </h1>
        </div>
        <div class=" w-10/12 m-auto">
            {{ .Content }}
        </div>
        <div class=" w-12/12 m-auto">

            <h2 id="services" class="font-bold text-3xl font-mono text-center my-10 md:my-20 text-vert"> Nos services
            </h2>
            <section class="flex flex-col  md:flex-row  items-center">
                <div class=" flex-1 mb-5 md:mb-0 ">
                    <figure>
                        <img src="../images/green-web.webp " loading="lazy" class="bg-vert"
                        title=" réalisation de site éco-pensé"
                alt="Image illustrant la section web ecopensé" />
                        />

                    </figure>
                </div>
                <div class=" flex-1 m-auto">
                    <article class=" w-10/12 md:w-8/12 m-auto">
                        <h3 class=" font-mono text-vert font-bold"> Sites Internet et Eshop éco-pensés</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, dolor. Officia doloremque
                            laborum dicta in fugiat distinctio eius, sint saepe, natus eligendi similique molestias
                            perferendis corporis commodi quasi officiis aut?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, dolor. Officia doloremque
                            laborum dicta in fugiat distinctio eius, sint saepe, natus eligendi similique molestias
                            perferendis corporis commodi quasi officiis aut?</p>
                        <p class="md:ml-2 text-xs">
                            Photo de Karina Zhukovskaya provenant de <a
                                href="https://www.pexels.com/fr-fr/photo/ordinateur-portable-sec-internet-connexion-6446710/">
                                Pexels</a>
                        </p>
                    </article>
                </div>
            </section>

            <section class="flex flex-col  md:flex-row  items-center">
                <div class=" flex-1 order-2 md:order-1 m-auto">
                    <article class=" w-10/12 md:w-8/12 m-auto">
                        <h3 class='font-bold font-mono'> Accompagnement digital </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, dolor. Officia doloremque
                            laborum dicta in fugiat distinctio eius, sint saepe, natus eligendi similique molestias
                            perferendis corporis commodi quasi officiis aut?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, dolor. Officia doloremque
                            laborum dicta in fugiat distinctio eius, sint saepe, natus eligendi similique molestias
                            perferendis corporis commodi quasi officiis aut?</p>
                        <p class="ml-2 text-xs">

                            Photo de Zen Chung provenant de Pexels
                            <a
                                href="https://www.pexels.com/fr-fr/photo/cheerful-black-woman-using-laptop-pour-etudes-avec-un-ami-5538596/">
                                Pexels</a>
                        </p>
                    </article>
                </div>
                <div class=" flex-1 order-1 md:order-2  mb-5 md:mb-0 ">
                    <figure>
                        <img src="../images/accompagnement.webp" loading="lazy"
                        title=" accompagnement digital et éco-pensé"
                        alt="Image illustrant la section accompagnement digital" />
                        >

                    </figure>

                </div>
            </section>
            <section class="flex flex-col  md:flex-row  items-center">
                <div class=" flex-1  mb-5 md:mb-0 ">
                    <figure>
                        <img src="../images/autres-solutions.webp" loading="lazy"
                        title=" toutes les autres solution possibles: Newsletter, AMP..."
                        alt="Image illustrant la section autres solutions" />
                        />

                    </figure>
                </div>
                <div class=" flex-1 m-auto">
                    <article class=" w-10/12 md:w-8/12 m-auto">
                        <h3 class="font-bold font-mono text-jaune"> Autres solutions digitales </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, dolor. Officia doloremque
                            laborum dicta in fugiat distinctio eius, sint saepe, natus eligendi similique molestias
                            perferendis corporis commodi quasi officiis aut?</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, dolor. Officia doloremque
                            laborum dicta in fugiat distinctio eius, sint saepe, natus eligendi similique molestias
                            perferendis corporis commodi quasi officiis aut?</p>
                        <p class="ml-2 text-xs">

                            Photo de Karolina Grabowska provenant de
                            <a
                                href="https://www.pexels.com/fr-fr/photo/bureau-ordinateur-portable-cahier-stylo-4195499/">
                                Pexels</a>
                        </p>
                    </article>
                </div>
            </section>

        </div>
        <div class="md:mb   -20 bg-vert py-5">
            <h2 id="engagement" class="font-bold text-3xl text-center my-10 md:my-20 text-white font-mono"> Nos
                engagements </h2>

            <div class=" w-12/12 p-5 md:p-0 my-10  md:mb-20">
                <div
                    class=" w-10/12 flex flex-col space-y-3 md:space-y-0 md:grid md:gap-4 grid-cols-4  auto-cols-fr md:justify-center m-auto">
                    <div class="  flex   flex-col bg-white items-center shadow p-5">
                        <figure class="text-jaune mb-10 font-mono"><i class="fas fa-leaf fa-4x"></i></figure>
                        <h3 class='text-vert font-semibold'>Solution éco-pensée</h3>

                        <p>Le développement de nos sites internets et de nos outils sont pensé dans une démarche
                            éco-responsable

                        </p>
                    </div>

                    <div class="   flex   flex-col bg-white items-center shadow p-5">
                        <figure class="text-jaune mb-10 font-mono"><i class="fas fa-user-friends fa-4x"></i></figure>
                        <h3 class='text-vert font-semibold'> Accompagnement
                        </h3>

                        <p>Nous vous suivons et vous conseillons dans le développement de l'image digitale de votre
                            activité

                        </p>
                    </div>
                    <div class="  flex   flex-col bg-white items-center shadow p-5">
                        <figure class="text-jaune mb-10 font-mono"><i class="fas fa-map-marker-alt fa-4x"></i></figure>
                        <h3 class='text-vert font-semibold'>Local</h3>

                        <p>Nous avons à cœur d'accompagner les entrepreneurs de Liège et de toute la Wallonie dans leur
                            développement digital et de collaborer avec des acteurs locaux.

                        </p>
                    </div>
                    <div class="  flex   flex-col bg-white items-center shadow p-5">
                        <figure class="text-jaune mb-10"><i class="fas fa-euro-sign fa-4x"></i></figure>
                        <h3 class='text-vert font-semibold'> Prix raisonnés

                        </h3>

                        <p>Nous analysons votre demande pour vous offrir la solution la plus adaptée à votre besoin et
                            cohérent à votre budget.

                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class=" w-10/12 m-auto">

            <h2 id="contact" class="font-bold text-3xl text-center my-10 text-bleu font-mono"> Envie d'en savoir plus ?
            </h2>
            <p class="m-auto mb-10 font-semibold text-center">
                Vous souhaitez en connaitre d'avantage concernant le web éco-pensé ou vous souhaitez développer votre
                site ?<br />
                N'hésitez pas à nous contacter !
            </p>
            <form action="https://formspree.io/f/moqydoqn" method="POST" class="flex flex-col md:w-6/12 m-auto mb-10 ">
                <label class="justify-self-start">
                    <p class="mb-1 "> votre adresse mail:</p>
                    <input class="border rounded mb-5 focus:border-vert focus:outline-none " type="email"
                        name="_replyto">
                </label>
                <label>
                    <p class="mb-1">votre message </p>
                    <textarea class="border rounded block w-full focus:border-vert focus:outline-none " name="message"
                        cols="50" rows="5">  </textarea>
                </label>

                <!-- your other form fields go here -->

                <button class="bg-bleu p-1 font-bold text-lg w-4/12 md:w-2/12 rounded text-white mt-5 hover:opacity-80"
                    type="submit">envoyer</button>
            </form>
        </div>
    </div>
</section>
</div>
{{ end }}